<p id="notice"><%= notice %></p>

<p>
  <strong>Oras:</strong>
  <%= @destinatii_turistice.oras %>
</p>

<p>
  <strong>Obiectiv:</strong>
  <%= @destinatii_turistice.obiectiv %>
</p>

<p>
  <strong>Descriete:</strong>
  <%= @destinatii_turistice.descriete %>
</p>

<%= link_to 'Edit', edit_destinatii_turistice_path(@destinatii_turistice) %> |
<%= link_to 'Back', destinatii_turistices_path %>
